@font-face{
  font-family: robo-bld;
  src: url(font/Roboto-Bold.ttf);
}
@font-face {
  font-family: robo-blk;
  src: url(font/Roboto-Black.ttf);
}
@font-face {
  font-family: robo-reg;
  src: url(font/Roboto-Regular.ttf);
}
.userheading{
  font-family: robo-bld;
  width: 100%;
  font-size: 50px;
  text-align: center;
}
.userdetails{
  padding-bottom: 50px;
}
.avatardiv{
  width: 100px;
}
.avatar{
  border-radius: 50%;
  width: 100px;
  height: auto;
}
.userlogin{
  font-family: robo-blk;
  font-size: 20px;
  text-transform: capitalize;
}
.useravatar{
  width: 220px;
  height: 220px;
   margin: 0px 51px;
}
.userdetailsdiv{
  font-family: robo-reg;
  font-size: 27px;
  padding: 51px;
}